# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd

# ===== Virtual Environments =====
env/
venv/

# ===== OS files =====
.DS_Store
Thumbs.db

# ===== Editors =====
.vscode/
.idea/

# ===== Generated / Runtime =====
storage/

# GitHub App private keys
*.pem
.env